language: python
sudo: false
branches:
  only:
  - master
python:
- '3.6'
install:
- pip install --upgrade setuptools
- pip install -r requirements.txt
before_script: cd adam_home
script:
- py.test adam --cov=adam --ignore=adam_home/adam/tests/integration_tests/hypercube_test.py
